
<form action="/schedules/new" method="get">
    <input class="btn green darken-4" type="submit" value="Add New Schedule">
</form>
<table class="highlight">
<thead>
  <tr>
    <th>Date</th>
    <th>Tee time</th>
    <th>Num of holes</th>
    <th>Course</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Note</th>
    <th>View</th>
    
  </tr>
</thead>
<tbody>
<% @schedules.each do |t| %>
  
  <tr>
    <td width="10%"><%= t.date %></td>
    <td width="8%"><%= t.booking_time %></td>
    <td width="9%"><%= t.number_of_holes %></td>
    <td width="20%"><%= t.course %></td>
    <td><%= t.phone %></td>
    <td><%= t.email %></td>
    <td width="25%"><%= t.note %></td>
    <td width="2%"><a href="/schedules/<%= t.id %>">Link</a> </td>
  </tr>
  <% end %>
  </tbody>
  
  </table>